<div class="about-me">
  <hr class="", style="border-top: 1px;">
  <h1>about me</h1>
  <br>
  <h3>I'm an environmental scientist turned web developer</h3>
  <ul>
    <li>
      <p>
        Developing an understanding of the natural environment is remarkably similar to working with
        technology. Both require agile problem solving, the ability to learn and process information quickly,
        and the insatiable desire to innovate.
      </p>
    </li>
    <li>
      <img src="/img/enviro-profile.png" alt="Emily C. Ritter" />
    </li>
  </ul>
  <br>
  <hr class="", style="border-top: 1px;">
</div>
