<div class="about-me">
  <hr class="", style="border-top: 1px;">
  <h1>about me</h1>
  <br>
  <h3>I'm an environmental scientist turned web developer</h3>
  <ul>
    <li>
      <p>
        3 wolf moon farm-to-table PBR&amp;B knausgaard.
        Everyday carry master cleanse ramps, ugh franzen lomo brooklyn
        tousled poutine next level ethical wayfarers meggings. Single-origin
        coffee messenger bag green juice franzen, pickled meditation twee artisan.
      </p>
    </li>
    <li>
      <img src="/img/enviro-profile.png" alt="Emily C. Ritter" />
    </li>
  </ul>
  <br>
  <hr class="", style="border-top: 1px;">
</div>
