<div class="education">

  <h1>education</h1>

  <!-- Timeline Responsive -->
  <article id="cd-timeline" class="cd-container">
    <!-- 1 Item -->
    <div class="cd-timeline-block">
      <!-- Circle image 64x64 -->
      <div class="cd-timeline-img my-purple">
        <img src="img/ed2.png" alt="Science">
      </div>
      <!-- Info 1 Education -->
      <div class="cd-timeline-content">
        <h3>Backend Engineering with Ruby on Rails</h3>
        <h4>The Iron Yard - Houston, TX</h4>
        <span class="cd-date">2016 April</span>
      </div>
    </div>
    <!-- 2 Item -->
    <div class="cd-timeline-block">
      <!-- Circle image 64x64 -->
      <div class="cd-timeline-img my-purple">
        <img src="img/ed1.png" alt="Engineering">
      </div>
      <!-- Info 2 Education -->
      <div class="cd-timeline-content">
        <h3>MA Environmental Science</h3>
        <h4>Texas Christian University - Fort Worth, TX</h4>
        <span class="cd-date">2015 May</span>
      </div>
    </div>
    <!-- 3 Item -->
    <div class="cd-timeline-block">
      <!-- Circle image 64x64 -->
      <div class="cd-timeline-img my-purple">
        <img src="img/ed3.png" alt="Bachelor">
      </div>
      <!-- Info 3 Education -->
      <div class="cd-timeline-content">
        <h3>BS Environmental Science</h3>
        <h4>Texas Christian University - Fort Worth, TX</h4>
        <span class="cd-date">2012 December</span>
      </div>
    </div>
  </article>
  </section>
</div>
