<header class="site-header">
  <div class="heading-banner">

    <div class="header-content">
      <h1 class="firstname">emily</h1>
      <h1>cox</h1>
      <h1>ritter</h1>
      <h4>
        web developer &nbsp;<br>
        science lover &nbsp;
      </h4>
      <ul class="social-media-list">
        <li>
          <a href="mailto:{{ site.email }}?subject=Hi Emily, Let's Chat -- from emilycritter.com"><i class="fa fa-envelope" style="font-size: 15px;"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/emilycritter">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        {% if site.github_username %}
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
      </ul>
    </div>


  </div>
</header>
