<div class="portfolio">

  <h1>projects</h1>
  <br>
  <ul>

    <li>
      <div class="portfolio-image">
        <a href="https://emilycritter-twitter.herokuapp.com/" target="_blank">
          <img src="/img/catter-chatter.png" alt="catter chatter" />
        </a>
      </div>
      <div class="portfolio-desc">
        <a href="https://emilycritter-twitter.herokuapp.com/" target="_blank">
          <h3>catter chatter</h3>
        </a>
        <hr>
        <br>
        <p>
          Twitter was originally built using rails. Rails offers a quick option for developing web-based applications.
          The web loves cats... <br>It's twitter for all things cat!
        </p>
        <br>
        <p>
          <a href="https://github.com/emilycritter/tiy-lab6-twitter">
            <i class="fa fa-github-square"></i> <strong>TECHNOLOGIES:</strong> html5, sass, ruby on rails, erb
          </a>
        </p>
      </div>
    </li>
    <br><br>
    <li>
      <div class="portfolio-image">
        <a href="https://emilycritter-reddit.herokuapp.com/" target="_blank">
          <img src="/img/reddit-clone.png" alt="catter chatter" />
        </a>
      </div>
      <div class="portfolio-desc">
        <a href="https://emilycritter-reddit.herokuapp.com/" target="_blank">
          <h3>reddit clone</h3>
        </a>
        <hr>
        <br>
        <p>
          Ever felt like reddit looks so 2000 and late? Solution - a reddit clone with a neater, simpler design.
          This web-based app was a weekend assignment at the Iron Yard and demonstrates the technologies
          learned in the first five weeks of intensive coursework.
        </p>
        <p>
          <a href="https://github.com/emilycritter/lab5-reddit">
            <i class="fa fa-github-square"></i> <strong>TECHNOLOGIES:</strong> html5, sass, ruby on rails, erb, ruby gems (mechanize)
          </a>
        </p>
      </div>
    </li>


  </ul>
  <br>
  <hr class="", style="border-top: 1px;">
</div>
