<div class="portfolio">

  <h1>projects</h1>
  <br>
  <ul>
    <li>
      <div class="portfolio-image">
        <a href="http://thinkaboutyoureyes.com/" target="_blank">
          <img src="/img/taye.png" alt="Think About Your Eyes" />
        </a>
      </div>
      <div class="portfolio-desc">
        <h3>
          <a href="http://thinkaboutyoureyes.com/" target="_blank">
            think about your eyes
          </a>
        </h3>
        <hr>
        <br>
        <p>
          As a web developer at Warren Douglas, I help maintain the Think About Your Eyes (TAYE) campaign
          website. This application promotes eye health awareness by providing consumers with educational resources
          and access to the largest dataset of local eye care professionals via the custom locator.
          The TAYE application suite also provides customized reports for doctors to track consumer engagement.
        </p>
        <br>
        <p>
          <strong>TECHNOLOGIES:</strong> ruby on rails (consumer facing site), cakephp (doctor enrollment portal),
          mysql, third party apis (paypal, youtube, google analytics)
        </p>
      </div>
    </li>
    <br><br>

    <li>
      <div class="portfolio-image">
        <a href="https://kiolbassa.com/" target="_blank">
          <img src="/img/kiolbassa.png" alt="Kiolbassa Sausage" />
        </a>
      </div>
      <div class="portfolio-desc">
        <h3>
          <a href="https://kiolbassa.com/" target="_blank">
            kiolbassa sausage
          </a>
        </h3>
        <hr>
        <br>
        <p>
          As a web developer at Warren Douglas, I assisted in a total rebranding of Kiolbassa Sausage's company website.
          The wordpress site includes product information and eCommerce capabilities, product recipes,
          job postings, community events, press releases, social media activity, and a product locator.
        </p>
        <br>
        <p>
          <strong>TECHNOLOGIES:</strong> php, wordpress, css (compiled with gulp), woocommerce
        </p>
      </div>
    </li>
    <br><br>

    <li>
      <div class="portfolio-image">
        <a href="http://texasballettheater.org/" target="_blank">
          <img src="/img/texas-ballet-theater.png" alt="Texas Ballet Theater" />
        </a>
      </div>
      <div class="portfolio-desc">
        <h3>
          <a href="http://texasballettheater.org/" target="_blank">
            texas ballet theater
          </a>
        </h3>
        <hr>
        <br>
        <p>
          As a web developer at Warren Douglas, I helped maintain Texas Ballet Theater's company website through the addition
          of updates that reduced the amount of hard-coded functionality and by re-skinning the website seasonally.
          The wordpress site helps promote upcoming performances, classes, and community involvement.
        </p>
        <br>
        <p>
          <strong>TECHNOLOGIES:</strong> php, wordpress, css (compiled with gulp)
        </p>
      </div>
    </li>
    <br><br>

    <li>
      <div class="portfolio-image">
        <a href="https://where-art-thou.herokuapp.com/" target="_blank">
          <img src="/img/where-art-thou.png" alt="where-art-thou" />
        </a>
      </div>
      <div class="portfolio-desc">
        <h3>
          <a href="https://where-art-thou.herokuapp.com/" target="_blank">
            tiy - where art thou (final project)
          </a>
        </h3>
        <hr>
        <br>
        <p>
          where.art.thou isn't just your typical online marketplace for buying and selling art, because where.art.thou is
          all about the WHERE. This app helps users support artists in their local community by prioritizing art by
          location, while also allowing users to filter by preferences, save favorite pieces, contact artists, and checkout
          with ease via Stripe.
        </p>
        <br>
        <p>
          <a href="https://github.com/emilycritter/tiy-final-project" target="_blank">
            <i class="fa fa-github-square"></i> <strong>TECHNOLOGIES:</strong> ruby on rails, stripe (ecommerce) api, react, bootstrap
          </a>
        </p>
      </div>
    </li>
    <br><br>

    <li>
      <div class="portfolio-image">
        <a href="https://emilycritter-slack.herokuapp.com/" target="_blank">
          <img src="/img/slack-clone.png" alt="catter chatter" />
        </a>
      </div>
      <div class="portfolio-desc">
        <h3>
          <a href="https://emilycritter-slack.herokuapp.com/" target="_blank">
            tiy - slack clone
          </a>
        </h3>
        <hr>
        <br>
        <p>
          Slack is a popular team-based communication application. This app is a basic clone of Slack.
        </p>
        <br>
        <p>
          <a href="https://github.com/emilycritter/tiy-lab8-slack" target="_blank">
            <i class="fa fa-github-square"></i> <strong>TECHNOLOGIES:</strong> bootstrap, ruby on rails, json api, react
          </a>
        </p>
      </div>
    </li>
    <br><br>

    <li>
      <div class="portfolio-image">
        <a href="https://emilycritter-iron-library.herokuapp.com/" target="_blank">
          <img src="/img/iron-library.png" alt="catter chatter" />
        </a>
      </div>
      <div class="portfolio-desc">
        <h3>
          <a href="https://emilycritter-iron-library.herokuapp.com/" target="_blank">
            tiy - the iron library
          </a>
        </h3>
        <hr>
        <br>
        <p>
          The Iron Library was an on-going project during my tenure at The Iron Yard Houston.
          This rails app 'scrapes' books from Amazon using the ruby mechanize gem, creates
          inventory in a postgreSQL database, and allows users to purchase books via Stripe.
        </p>
        <br>
        <p>
          <a href="https://github.com/emilycritter/tiy-iron-library" target="_blank">
            <i class="fa fa-github-square"></i> <strong>TECHNOLOGIES:</strong> material design lite (mdl), ruby on rails, json api, react
          </a>
        </p>
      </div>
    </li>
    <br><br>

    <li>
      <div class="portfolio-image">
        <a href="https://emilycritter-twitter.herokuapp.com/" target="_blank">
          <img src="/img/catter-chatter.png" alt="catter chatter" />
        </a>
      </div>
      <div class="portfolio-desc">
        <h3>
          <a href="https://emilycritter-twitter.herokuapp.com/" target="_blank">
            tiy - catter chatter
          </a>
        </h3>
        <hr>
        <br>
        <p>
          Twitter was originally built using rails. Rails offers a quick option for developing web-based applications.
          The web loves cats... <br>It's twitter for all things cat!
        </p>
        <br>
        <p>
          <a href="https://github.com/emilycritter/tiy-lab6-twitter" target="_blank">
            <i class="fa fa-github-square"></i> <strong>TECHNOLOGIES:</strong> html5, sass, bootstrap, ruby on rails
          </a>
        </p>
      </div>
    </li>
    <br><br>

    <li>
      <div class="portfolio-image">
        <a href="https://emilycritter-reddit.herokuapp.com/" target="_blank">
          <img src="/img/reddit-clone.png" alt="catter chatter" />
        </a>
      </div>
      <div class="portfolio-desc">
        <h3>
          <a href="https://emilycritter-reddit.herokuapp.com/" target="_blank">
            tiy - reddit clone
          </a>
        </h3>
        <hr>
        <br>
        <p>
          Ever felt like reddit looks so 2000 and late? Solution - a reddit clone with a neater, simpler design.
          This web-based app was a weekend assignment at the Iron Yard and demonstrates the technologies
          learned in the first five weeks of intensive coursework.
        </p>
        <p>
          <a href="https://github.com/emilycritter/lab5-reddit" target="_blank">
            <i class="fa fa-github-square"></i> <strong>TECHNOLOGIES:</strong> html5, sass, mdl, ruby on rails, erb, ruby gems (mechanize)
          </a>
        </p>
      </div>
    </li>
  </ul>
  <br>
  <hr class="" style="border-top: 1px;">
</div>
