<div class="portfolio">

  <h1>projects</h1>
  <br>
  <ul>
    <li>
      <div class="portfolio-image">
        <a href="http://thinkaboutyoureyes.com/" target="_blank">
          <img src="/img/taye.png" alt="Think About Your Eyes" />
        </a>
      </div>
      <div class="portfolio-desc">
        <h3>
          think about your eyes
        </h3>
        <hr>
        <br>
        <p>
          As a web developer at Warren Douglas, I help maintain the Think About Your Eyes (TAYE) campaign
          website. This application promotes eye health awareness by providing consumers with educational resources
          and access to the largest dataset of local eye care professionals via the custom locator.
          The TAYE application suite also provides customized reports for doctors to track consumer engagement.
        </p>
        <br>
        <p>
          <strong>BUILT WITH:</strong> ruby on rails (consumer facing site), cakephp (doctor portal),
          mysql, google tag manager, third party apis (paypal, youtube, google analytics)
        </p>
        <a href="http://thinkaboutyoureyes.com/" target="_blank" class="button">visit site</a>
      </div>
    </li>
    <br><br>

    <li>
      <div class="portfolio-image">
        <a href="https://kiolbassa.com/" target="_blank">
          <img src="/img/kiolbassa.png" alt="Kiolbassa Sausage" />
        </a>
      </div>
      <div class="portfolio-desc">
        <h3>
          kiolbassa sausage
        </h3>
        <hr>
        <br>
        <p>
          As a web developer at Warren Douglas, I assisted in a total rebranding of Kiolbassa Sausage's company website.
          The wordpress site includes product information and eCommerce capabilities, product recipes,
          job postings, community events, press releases, social media activity, and a product locator.
        </p>
        <br>
        <p>
          <strong>BUILT WITH:</strong> php, wordpress, scss, gulp, woocommerce, google tag manager, yoastseo
        </p>
        <a href="https://kiolbassa.com/" target="_blank" class="button">visit site</a>
      </div>
    </li>
    <br><br>

    <li>
      <div class="portfolio-image">
        <a href="http://texasballettheater.org/" target="_blank">
          <img src="/img/texas-ballet-theater.png" alt="Texas Ballet Theater" />
        </a>
      </div>
      <div class="portfolio-desc">
        <h3>
          texas ballet theater
        </h3>
        <hr>
        <br>
        <p>
          As a web developer at Warren Douglas, I helped maintain Texas Ballet Theater's company website through the addition
          of updates that reduced the amount of hard-coded functionality and by re-skinning the website seasonally.
          The wordpress site helps promote upcoming performances, classes, and community involvement.
        </p>
        <br>
        <p>
          <strong>BUILT WITH:</strong> php, wordpress, scss, gulp
        </p>
        <a href="http://texasballettheater.org/" target="_blank" class="button">visit site</a>
      </div>
    </li>
  </ul>
  <br>
  <div class="cta">
    <a href="/the-iron-yard-portfolio" class="button button--primary">view early work</a>
  </div>
  <hr class="" style="border-top: 1px;">
</div>
