<div class="software">
  <hr class="", style="border-top: 1px;">
  <h1>web technologies</h1>
  <br>
  <ul class="front-back">
    <li>
      <h4>Front End</h4>
      <div class="tech-list">
        <ul class="column">
          <li>HTML5</li>
          <li>CSS3</li>
          <li>SASS/LESS</li>
          <li>Bootstrap</li>
          <li><a href="https://www.getmdl.io/" target="_blank">MDL</a></li>
          <li>Responsive design</li>
        </ul>
        <ul class="column">
          <li>Javascript</li>
          <li>jQuery</li>
          <li>JSON</li>
          <li>AJAX</li>
          <li>React</li>
        </ul>
      </div>
    </li>

    <li>
      <h4>Back End</h4>
      <div class="tech-list">
        <ul class="column">
          <li>Git &amp; Github</li>
          <li>MVC design</li>
          <li>ERB</li>
          <li>Ruby</li>
          <li>Ruby gems</li>
        </ul>
        <ul class="column">
          <li>TDD &amp; BDD</li>
          <li>Rails</li>
          <li>SQL &amp; PostgreSQL</li>
          <li>RESTful APIs</li>
        </ul>
      </div>
    </li>

  </ul>

  <br>
  <hr class="", style="border-top: 1px;">
</div>
