<div class="software">
  <hr class="", style="border-top: 1px;">
  <h1>web technologies</h1>
  <br>
  <ul class="front-back">
    <li>
      <h4>Front End</h4>
      <div class="tech-list">
        <ul class="column">
          <li>HTML / HTML5</li>
          <li>CSS / SCSS / SASS</li>
          <li>JavaScript / jQuery / AJAX</li>
          <li>FE Templates (Bootstrap / <a href="https://www.getmdl.io/" target="_blank">MDL)</a></li>
        </ul>
        <ul class="column">
          <li>CMS (Wordpress / AEM)</li>
          <li>AngularJS</li>
          <li>ReactJS</li>
        </ul>
      </div>
    </li>

    <li>
      <h4>Back End</h4>
      <div class="tech-list">
        <ul class="column">
          <li>Ruby (Ruby on Rails / Sinatra)</li>
          <li>Git / VCS (Github / Beanstalk)</li>
          <li>PHP (CakePHP / Wordpress)</li>
          <li>GoLang</li>
        </ul>
        <ul class="column">
          <li>RESTful APIs (RoR / NodeJS)</li>
          <li>SQL (MySQL / PostgreSQL)</li>
          <li>Third Party APIs (Google <br>Maps / Mapquest / <br>Twitter / GA)</li>
        </ul>
      </div>
    </li>

  </ul>

  <br>
  <hr class="", style="border-top: 1px;">
</div>
