<div class="software">
  <hr class="", style="border-top: 1px;">
  <h1>software</h1>
  <br>
  <ul class="front-back">
    <li>
      <h4>Front End</h4>
      <div class="tech-list">
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>SASS/LESS</li>
          <li>Responsive</li>
        </ul>
        <ul>
          <li>Javascript</li>
          <li>jQuery</li>
          <li>React</li>
        </ul>
      </div>
    </li>

    <li>
      <h4>Back End</h4>
      <div class="tech-list">
        <ul>
          <li>Git</li>
          <li>MVC design</li>
          <li>ERB</li>
          <li>Ruby</li>
        </ul>
        <ul>
          <li>Rails</li>
          <li>PostgreSQL</li>
          <li>JSON</li>
          <li>RESTful APIs</li>
        </ul>
      </div>
    </li>

  </ul>

  <br>
  <hr class="", style="border-top: 1px;">
</div>
