<div class="work-history">
  <hr class="", style="border-top: 1px;">
  <h1>experience</h1>
  <br>
  <h3>Although I'm new to web development, my work history demonstrates a solid foundation and interest in tech</h3>
  <ul>
    <li>
      <h4>Back End Web Developer</h4>
      <h5>THE IRON YARD <em>(2016 - PRESENT)</em></h5>
      <p>
        The Iron Yard is a 12-week immersive code school. The <a href="emilycritter.com/blog/2016/tiy-week-1">program</a>
        started with HTML and CSS, then moved into Ruby, databases, and Rails, and ended with JavaScript and ReactJS.
        Coursework mimicked fast-paced, on the job learning with a focus on product development.
      </p>
    </li>

    <li>
      <h4>Database Developer and Administrator</h4>
      <h5>MS ACCESS <em>(2015 - 2016)</em></h5>
      <p>
        Developed and maintained two desktop databases at Breitling Consulting, LLC for internal and external
        projects (i.e. employee and project resume database for project proposals; data collection and analysis
        database for EPA Greenhouse Gas (GHG) Emission Inventory Reports) to streamline workflow processes and increase
        company-wide profitability. Self-taught Access, Visual Basic, SQL, and Macro Actions.
      </p>
    </li>

    <li>
      <h4>Environmental Scientist</h4>
      <h5>MS EXCEL <em>(2012 - 2013)</em></h5>
      <p>
        Created data collection and analysis spreadsheets using MS Excel for collecting GHG Emission Inventory
        data prior to developing an Access Database at Breitling Consulting, LLC (2013).
      </p>
      <p>
        Developed organizational system to maintain data and analyze results from an airfield-wide storm drain
        inspection using MS Excel at the Dallas-Fort Worth International Airport (2012).
      </p>
      <p>
        These excel projects established an interest in data collection and manipulation and prompted the desire
        to explore more durable data management systems and technologies.
      </p>
    </li>

  </ul>




  <br>
  <hr class="", style="border-top: 1px;">
</div>
